@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "chakra";
  src: url("/fonts/chakra_petch/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "chakra_medium";
  src: url("/fonts/chakra_petch/ChakraPetch-Medium.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "chakra_bold";
  src: url("/fonts/chakra_petch/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "shot";
  src: url("/fonts/shot.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "chakra";
}
